<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>

    <div class="form-group">

        <input type="text" name="username" class="form-control mb-2" [(ngModel)]="model.username"
            placeholder="Username">
    </div>

  
    <div class="form-group">
        <input type="password" name="password" class="form-control mb-2" [(ngModel)]="model.password"
            placeholder="Pasword">
    </div>


    <div class="form-group text-center">
        <button type="submit" class="btn btn-success mr-2">Register</button>
        <button type="button" class="btn btn-warning mr-2" (click)="cancel()">Cancel</button>
    </div>


</form>